body {
  width: 60%;
  margin: 0 auto;
}
input, button, div {
  margin-top: 10px;
}
.radio {
  display: inline-block;
}
#choose-profile-type {
  font-weight: bold;
}
.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
}